<!-- register.component.html -->
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form class="custom-form mt-xl-5" method="post" style="width: 23rem;" novalidate [formGroup]="userControl" (ngSubmit)="onSubmit()">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Regístrate</h3>
  
              <div class="form-outline mb-4">
                <input type="text" formControlName="name" name="name" placeholder="Name" required="resquired" class="form-control form-control-lg"/>
                <label class="form-label">Nombre</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" formControlName="email" name="email" placeholder="Email" required="required" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example18">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" formControlName="password" name="password" placeholder="Password" required="required" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example28">Contraseña (Min 8 caracteres)</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" formControlName="repeatPassword" name="password" placeholder="Repeat the password" required="required" class="form-control form-control-lg" />
                <div style="color: red;" *ngIf="passwordMatchError">
                  La contraseña no es igual
                </div>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="!userControl.valid">Registrarse</button>
              </div>
  
              <p>¿Ya tienes cuenta? <a routerLink="/login" class="link-info">Iniciar sesión</a></p>
  
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="../../assets/imagenes/pandaregister.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
