<nav>
    <div class="rutas">
      <a routerLink="">Hamburguesas</a>
    </div>
    <div class="rutas">
      <a routerLink="">Complementos</a>
    </div>
    <div class="rutas">
      <a routerLink="">Bebidas</a>
    </div>
    <div id="panda">
      <a routerLink="/home"><img src="./../assets/imagenes/pandaBurguer.png"></a>
    </div>
    <div class="rutas">
      <a routerLink="">Pedido</a>
    </div>
    <div class="rutas">
      <a routerLink="">Contacto</a>
    </div>
    <div class="rutas">
      <a routerLink="/login">Inicia sesión</a> / 
      <a routerLink="/register">Registrate</a>
    </div>
</nav>
