nav{
    display: flex;
    height: 85px;
    margin-top: 45px;
    background-color: rgba(0, 255, 170, 0.733);
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
}

.rutas{
    padding-top: 30px;
}

.rutas>a{
    text-decoration-line: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

img{
   /* height: -webkit-fill-available; */
   height: 145px;
   margin-top: -45px;
}