#fondo{
    /* margin-top: 12%; */
    width: 100%;
    min-height: 600px;
    background-image: url("../../../assets/imagenes/fondo_burguers.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}