<nav class="navbar fixed-top navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a routerLink="/home"
      ><img
        src="./../assets/imagenes/pandaBurguer3.png"
        alt="Logo"
        width="100"
        height="100"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarToggler" 
      aria-controls="navbarToggler" 
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span id="icon">
      <fa-icon [icon]="faHamburger" size="4x" [border]="false" [style]=""></fa-icon>
    </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-4 ms-lg-4" routerLink="">Hamburguesas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-4 ms-lg-2" routerLink="">Complementos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-4 ms-lg-2" routerLink="">Bebidas</a>
        </li>
      </ul>
      <ng-container>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fs-4 me-lg-2" routerLink="">Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-4 me-lg-4" routerLink="">Contacto</a>
            </li>
            <div *ngIf="!isLogin; else logOut">
              <li class="nav-item">
                <button type="button" class="btn btn-dark btn-lg fs-4" routerLink="/login">Inicia sesión</button>
              </li>
            </div>
          </ul>
        </span>
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #logOut>
  <li class="nav-item">
    <button type="button" class="btn btn-dark btn-lg fs-4" (click)="logout()">Cerrar sesión</button>
  </li>
</ng-template>
